.inputTask {
  display: block;
  margin: 0 auto;
  padding: 5px;
  font-size: 12pt;
  width: 300px;
  border: 1px solid rgb(182, 182, 182);
}

.titleTask {
  text-align: center;
}

.listTask {
  list-style: none;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listTask > span {
  display: block;
  padding: 10px;
  margin-left: 10px;
  width: 50%;
}

.false {
  color: #fff;
  background-color: rgb(179, 82, 82);
  font-weight: bold;
}

.true {
  background-color: rgb(75, 167, 75);
  font-weight: bold;
  color: #fff;
}

span[contenteditable = 'true']{
  background-color: rgb(204, 204, 204);
}