.inputTask {
  display: block;
  margin: 0 auto;
  padding: 5px;
  font-size: 12pt;
  width: 300px;
}

.titleTask {
  text-align: center;
}

.false {
  background-color: rgb(247, 147, 147);
}

.true {
  background-color: darkgreen;
  font-style: italic;
}

span[contenteditable = 'true']{
  background-color: rgb(204, 204, 204);
}